<div class="recipe-item col-12 col-sm-4 col-md-3 mb-5">
  <a href="<%= recipe.is_premium? && !current_user&.is_premium? ? premium_info_path : recipe_path(recipe) %>" class="recipe-name">
    <div class="recipe-image full-width p-relative">
      <img src="<%= recipe.image %>" alt="">
      <% if recipe.is_premium? %>
        <div class="premium-label">
          <p>Premium</p>
        </div>
      <% end %>
    </div>
  </a>
  <div class="blog-content">
    <div class="row">
      <div class="col-md-9">
        <a href="#" class="category-name disabled">
          <%= recipe.category.name %>
        </a>
        <p class="mb-0 rating-avg">
          <span><%= recipe.get_average_rating ? recipe.get_average_rating : "0.0" %></span>
          <i class="fas fa-star"></i>
          <span>(<%= recipe.get_rate_times ? recipe.get_rate_times : "0" %> rating)</span>
        </p>
      </div>
      <% if user_signed_in? %>
        <div class="col-md-3">
          <i class="recipe-bookmark text-danger recipe-name <%= current_user.bookmarks.where(recipe_id: recipe.id).first.nil? ? " far " : "fas " %> fa-heart fa-2x" data-recipe_id="<%= recipe.id %>" style="cursor: pointer"></i>
        </div>
      <% end %>
    </div>
    <a href="<%= recipe.is_premium? && !current_user&.is_premium? ? premium_info_path : recipe_path(recipe) %>" class="recipe-name mt-0"><%= recipe.name %></a>
  </div>
</div>
