<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Post Details Content Area -->
      <div class="col-12 col-lg-8 col-xl-7">
        <div class="post-details-content mb-100">
          <div class="blog-thumbnail mb-50">
            <img src="<%= '/' + @recipe.image %>" alt="">
          </div>
          <div class="blog-content">
            <a href="#" class="post-tag"><%= @recipe.category.name %></a>
            <h4 class="post-title"><%= @recipe.name %></h4>
            <div class="post-meta mb-50">
              <a href="#" class="post-date"><%= @recipe.created_at %></a>
            </div>
            <p>
              <%= @recipe.recipe %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <!-- Info -->
        <div class="recipe-info">
          <h5>Info</h5>
          <ul class="info-data">
            <li><img src="/assets/core-img/alarm-clock.png" alt=""> <span><%= @recipe.time_to_cook %></span></li>
            <li><img src="/assets/core-img/sandwich.png" alt=""> <span><%= @recipe.energy %></span></li>
          </ul>
        </div>

        <!-- Ingredients -->
        <div class="ingredients">
          <h5>Ingredients</h5>

          <!-- Custom Checkbox -->
          <% @recipe.ingredients.each_with_index do |ingredient, idx| %>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="<%= 'customCheck' + idx.to_s %>">
            <label class="custom-control-label"
              for="<%= 'customCheck' + idx.to_s %>"><%= ingredient.name + ': ' + ingredient.amount.to_s + ingredient.unit %></label>
          </div>
          <%end %>
        </div>
      </div>
    </div>

    <div class="comment_area clearfix mb-100">
      <h4 class="mb-50">Comments</h4>
      <%= render 'comments/form' %>
      <ol>
        <% @comments.each do |comment| %>
        <% replyCmtForm= "replyCmtForm"+ comment.id.to_s %>
        <% formCmtShow= "$('#" + replyCmtForm+ "').show()" %>
        <!-- Single Comment Area -->
        <li class="single_comment_area">
          <!-- Comment Content -->
          <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
              <img src="/assets/bg-img/32.jpg" alt="author">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
              <div class="d-flex">
                <a href="#" class="post-author"><%= comment.user.username %></a>
                <a href="#" class="post-date"><%= comment.created_at.strftime("%d %b, %Y %H:%M") %></a>
                <% if user_signed_in? %>
                <% if comment.user_id == current_user.id %>
                <a href="#" class="post-date" onclick=<%= formCmtShow%>>Reply</a>
                <a href="#" class="post-date" onclick="$('#comment<%= comment.id%>').show()">Edit</a>
                <a
                  href="#"><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "reply" %></a>
                <% else %>
                <a href="#" class="reply" onclick=<%= formCmtShow%>>Reply</a>
                <% end %>
                <% end %>
              </div>
              <p><%= comment.content %></p>
              <div id="comment<%= comment.id%>" style="display:none;" class="form-group">
                <%= form_for(@comment, :url => url_for(:controller => 'comments', :action => 'update'), method: "put") do |f| %>
                <%= f.hidden_field :id, value: comment.id%>
                <input type="text" name="comment[content]" class="form-control" value=<%= comment.content%>>
                <div class="row">
                  <div class="col-6">
                    <button class="btn mt-30 pull-right" type="submit" style="background-color:#b0c364;color:#fff;">Update
                      Comment</button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-default mt-30" type="button" onclick="$('#comment<%= comment.id%>').hide()">Cancel</button>
                  </div>
                </div>
                <% end %>
              </div>
              <div id=<%= replyCmtForm%> style="display: none;" class="form-group">
                <%= form_for(@comment.replies.build, :url => url_for(:controller => 'comments', :action => 'create_reply'), method: "post") do |f| %>
                <%= f.hidden_field :comment_id, value: comment.id%>
                <% if user_signed_in? %>
                <%= f.hidden_field :user_id , value: current_user.id %>
                <% end %>
                <div class="col-12">
                  <%= f.text_area :content, class: "form-control rounded-0", cols: "30", rows: "5", placeholder: "Your comment..." %>
                </div>
                <div class="col-12">
                  <button class="btn bueno-btn mt-30" type="submit">Submit Reply</button>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% comment.replies.order('created_at ASC').each do |reply| %>

          <% replyForm= "replyForm"+ reply.id.to_s %>
          <% formShow= "$('#" + replyForm+ "').show()" %>
          <ol class="children">
            <li class="single_comment_area">
              <!-- Comment Content -->
              <div class="comment-content d-flex">
                <!-- Comment Author -->
                <div class="comment-author">
                  <img src="/assets/bg-img/33.jpg" alt="author">
                </div>
                <!-- Comment Meta -->
                <div class="comment-meta">
                  <div class="d-flex">
                    <a href="#" class="post-author"><%= reply.user.username%></a>
                    <a href="#" class="post-date"><%= reply.created_at.strftime("%d %b, %Y %H:%M")%></a>
                    <% if user_signed_in? %>
                    <% if reply.user_id == current_user.id %>
                    <a href="#" class="post-date" onclick=<%= formShow%>>Reply</a>
                    <a href="#" class="post-date" onclick="$('#reply<%= reply.id%>').show()">Edit</a>

                    <a
                      href="#"><%= link_to 'Delete', destroy_reply_path(reply), method: :delete, data: { confirm: 'Are you sure?' }, class: "reply" %></a>
                    <% else %>
                    <a href="#" class="reply" onclick=<%=formShow%>>Reply</a>
                    <% end %>
                    <% end %>
                  </div>
                  <p><%= reply.content%></p>
                  <div id="reply<%= reply.id%>" style="display:none;" class="form-group">
                    <%= form_for(@comment.replies.build, :url => url_for(:controller => 'comments', :action => 'update_reply'), method: "put") do |f| %>
                    <%= f.hidden_field :id, value: reply.id%>
                    <input type="text" name="reply[content]" class="form-control" value=<%= reply.content%>>
                    <div class="row">
                      <div class="col-6">
                        <button class="btn mt-30 pull-right" type="submit" style="background-color:#b0c364;color:#fff;">Update
                          Comment</button>
                      </div>
                      <div class="col-6">
                        <button class="btn btn-default mt-30" type="button" onclick="$('#reply<%= reply.id%>').hide()">Cancel</button>
                      </div>
                    </div>
                    <% end %>
                  </div>
                  <div id=<%= replyForm%> style="display: none;">
                    <%= form_for(@comment.replies.build, :url => url_for(:controller => 'comments', :action => 'create_reply'), method: "post") do |f| %>
                    <%= f.hidden_field :comment_id, value: comment.id%>
                    <% if user_signed_in? %>
                    <%= f.hidden_field :user_id , value: current_user.id %>
                    <% end %>
                    <div class="col-12">
                      <%= f.text_area :content, class: "form-control rounded-0", cols: "30", rows: "5", placeholder: "Your comment..." %>
                    </div>
                    <div class="col-12">
                      <button class="btn bueno-btn mt-30" type="submit">Submit Reply</button>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ol>
          <% end %>
        </li>
        <% end %>
      </ol>
    </div>

  </div>
  </div>
</section>
<!-- ##### Post Details Area End ##### -->