<!DOCTYPE html>
<html>

<head>
  <title>Recipe</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- jQuery-2.2.4 js -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <%= yield :head %>
</head>

<body>
  <!-- Preloader -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-content">
      <h3>Loading in progress..</h3>
      <div id="cooking">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
  <!-- ##### Header Area Start ##### -->
  <header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area bg-img bg-overlay" style="background-image: url(<%= asset_url('bg-img/header.jpg', type: :image) %>);">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
          <div class="col-12 col-sm-4">
            <!-- Top Social Info -->
            <div class="top-social-info">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest-p"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

          <a href="/" style="">
            <img style='max-width: 100px;' src="<%= asset_url('core-img/reading-logo2.png', type: :image) %>" alt="">
          </a>

          <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
            <!-- Top Search Area -->
            <div class="top-search-area">
              <%# <form action="#" method="post">
                <input type="search" name="top-search" id="topSearch" placeholder="Search">
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
              </form> %>

              <!-- Login/Register -->
              <div class="login-area pull-right">
                <% if user_signed_in? %>
                  <div class="dropdown show">
                    <div style="color:white;" class="btn dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img style="max-width: 40px; margin-right: 10px" src="<%= current_user.avatar %>">
                      <%= current_user.username %>
                    </div>
                    <div style="z-index:10;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <%= link_to("Profile","/profile", class: "dropdown-item") %>
                      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
                    </div>

                    <a href='/profile/bookmarked-recipes' data-toggle="tooltip" title='Bookmarked recipes list'
                      style='margin-left: 10px; z-index: 100; color: white'>
                    <span style="position: relative">
                      <i style="display:inline" class='fas fa-heart fa-2x'></i>
                      <span
                        style="position: absolute; right: -20px; top: -12px">(<%= current_user.bookmarks.count %>)</span>
                    </span>
                  </a>
                  </div>
                <% else %>
                  <%= link_to("Login","/users/sign_in", style: "color:white;") %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Logo Area -->
  </header>

  <%= yield %>
  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5">
          <!-- Copywrite Text -->
          <p class="copywrite-text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());

            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        <div class="col-12 col-sm-7">
          <!-- Footer Nav -->
          <div class="footer-nav">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ##### Footer Area Start ##### -->
  <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="/assets/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/assets/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/assets/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="/assets/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="/assets/active.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>

</html>
