<!-- ##### Post Details Area Start ##### -->
<section class="recipe-detail post-news-area section-padding-100-0 mb-70">
  <div id="recipe-id" data-recipe_id="<%= @book.id %>"></div>
  <div class="container">
    <div class="row justify-content-center">
      <!-- Post Details Content Area -->
      <div class="col-12 col-lg-6 col-xl-6">
        <div class="post-details-content mb-100">
          <div class="blog-thumbnail mb-50 recipe-image full-width p-relative" style="border: 2px solid #f7f7f7;">
            <img src="<%= @book.image %>" alt="">
            <% if user_signed_in? %>
              <i class="recipe-bookmark text-danger recipe-name <%= current_user.bookmarks.where(recipe_id: @book.id).first.nil? ? " far " : "fas " %> fa-heart fa-2x" data-recipe_id="<%= @book.id %>" style="cursor: pointer"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-6">

        <!-- Info -->
        <h2 class="post-title text-black"><i class="fas fa-book-open"></i> <%= @book.name %></h3>
        <br>
        <div class="recipe-info">
          <h5>Thông tin</h5>
          <ul class="info-data">
            <li><i class="fas fa-user fa-2x"></i><span> <%= @book.author.name %></span></li>
            <li><i class="recipe-name far fa-heart fa-2x"></i><span> <%= @book.bookmarks.count %></span></li>
          </ul>
          <br>
          <div class="ml-3">
            <% @book.subjects.each do |subject| %>
              <a class="category-link-btn"><%= subject.name %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 text-justify">
        <h5>GIỚI THIỆU SÁCH</h5>
        <%= @book.description.html_safe %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% if user_signed_in? %>
        <h4>Rate this recipe</h4>
        <div id="rate-score" data-rate="<%= current_user.ratings.where(recipe_id: @book.id).first&.rate %>"></div>
        <div class="rate">
          <input class="star-rating" type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input class="star-rating" type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input class="star-rating" type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input class="star-rating" type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input class="star-rating" type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
        <% end %>
      </div>
    </div>
    <br>
    <br>

  </div>
  </div>
</section>
<!-- ##### Post Details Area End ##### -->
